<div class="bg-white shadow-md rounded-lg overflow-hidden hover:shadow-xl transform transition-all duration-300 hover:scale-105 flex flex-col h-full cursor-pointer" [routerLink]="'product/' + product._id">    <img src="{{product.images[0]}}" alt="{{product.name}}" class="w-full h-48 object-cover transition-all duration-300 hover:opacity-80">
    <div class="p-6 flex flex-col flex-grow">
        <h4 class="text-lg font-semibold text-gray-800 hover:text-indigo-600 transition-colors duration-200">{{product.name}}</h4>
        <p class="text-sm text-gray-500 mt-2 flex-grow">{{product.shortDescription}}</p>
        <div class="flex justify-between items-center mt-4">
            <span class="font-bold text-xl text-gray-900">${{product.price}}</span>
            <span class="text-sm text-gray-400 line-through">${{product.discount}}</span>
        </div>
    </div>
    <!-- Add to Cart Button -->
    <div class="p-4">
        <button class="w-full bg-indigo-600 text-white font-bold py-2 rounded-md hover:bg-indigo-700 transition-all duration-300">
            Add to Cart
        </button>
    </div>
</div>